{{template "base" .}} <!-- using the base layout template-->

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>this is my about page</h1>
                <p>here is some text</p>
                <p>this is from the template</p>
                <p>this is from the template</p>
                <p>this is from the template</p>
                <p>this is from the template</p>
                <p>this is from the template</p>
            </div>
        </div>
    </div>

{{end}}