{{template "admin" .}} <!-- using the base layout template-->


{{define "page-title"}}
    Reservation Calender
{{end}}

{{define "content"}}
    <div class="col-md-12">
        Calender content
    </div>
{{end}}