  {{define "base"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>My page</title>
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" i
            ntegrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
      <!--vanilla datepicker-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">
      <!-- notie alert-->
      <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    </head>

    <body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rooms
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/generals-quarters">General's Quarters</a></li>
                <li><a class="dropdown-item" href="/majors-suite">Major's Suite</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/make-reservation" tabindex="-1" aria-disabled="true">Book Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--********************************************************************************************-->


    <!-- *define a section*-->
  <!--* it tell golang that the content in this block will change per template basis *-->
    {{block "content" .}}


    {{end}}


    <!--creating our footer-->
    <div class="row my-footer">
      <div class="col">
        left
      </div>
      <div class="col">
        middle
      </div>
      <div class="col">
        right
      </div>
    </div>



    <!--js styles-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <!--vanilla datepicker-->
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
    <!-- Bottom notie in the body -->
    <script src="https://unpkg.com/notie"></script>
    <!-- Bottom sweetalert2 in the body -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="static/js/app.js"></script> <!--import custom JavaScript-->

    <!-- js code specific for different pages-->
    {{block "js" .}}


    {{end}}

    <!--JAVASCRIPT CODE-->
    <script>


      //MAKING THE MODULE AVAILABLE TO MY CODE
      let attention = prompt();


      //VALIDATION
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';
        window.addEventListener('load', function () {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          let forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          Array.prototype.filter.call(forms, function (form) {
            form.addEventListener('submit', function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();



      //alert function is for displaying Notie alert to clients
      function notify(msg, msgType) {
        notie.alert({
          type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
          text: msg,
          // stay: Boolean, // optional, default = false
          //time: Number, // optional, default = 3, minimum = 1,
          // position: String // optional, default = 'top', enum: ['top', 'bottom']
        })
      }

      //notifyModal function is for displaying sweetalert message to users
      function notifyModal(title, text, icon, confirmButtonText) {
        Swal.fire({
          title: title,
          html: text,
          icon: icon,
          confirmButtonText: confirmButtonText
        })
      }

      //This code: says if you have some value in Error, that is not empty then do this with it
      {{with .Error}}
        notify("{{.}}", "error") //calling the error type from notie package
      {{end}}

      {{with .Flash}}
        notify("{{.}}", "success") //calling the error type from notie package
      {{end}}


      {{with .Warning}}
        notify("{{.}}", "warning") //calling the error type from notie package
      {{end}}




    </script>
    </body>

    </html>

  {{end}}