{{template "base" .}} <!-- using the base layout template-->

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>this is my home page</h1>
                <p>here is some text</p>
                <h2>more information for the home template</h2>
            </div>
        </div>
    </div>

{{end}}